*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0b0b0b;
    color:#fff;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#111;
    border-bottom:2px solid gold;
}

.logo{
    display:flex;
    align-items:center;
}

.logo img{
    width:55px;
    height:55px;
    border-radius:50%;
   
